
html, body {
	margin: auto;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover, a:focus {
    color: #545454;
    text-decoration: inherit;
}


/* Header contains two different banner background images for mobile responsive Opening Styles */

#fix-image {
	position: absolute;
    width: 100%;
    height: 100%;
	z-index: 0;
}

@media (min-width: 800px) {
	
  #bannerphoto {
	background: url('../images/bannerLG.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }  
	
}

@media (max-width: 800px) {

  #bannerphoto {
	background: url("../images/bannerSM.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

#downarrow {
	position: absolute;
	bottom: 30px;
	right: 30px;
	z-index: 1;
	width: 60px;
	cursor: pointer;
}

#downarrow img {
	width: 100%;
	height: auto;
}



/* Main Site CSS styles*/


.scrollup {
	margin-top: 0px;
	
	position: absolute;
	min-height: 100%;
	width: 100%;
	top: 100%;
	z-index: 1;
	background: #FAF6F3;
}

#services {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	background: #FAF6F3;
	margin: 40px 0px 30px 0px;
}

#contact {
	width: 100%;
	height: 100%;
	position: relative;
	background: #FFEEEE;
}


/*List style for <section> SERVICES */

.unstyled
{
	font-family: 'Lora', serif;
    list-style:none;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
}


#services h1, #contact h1 {
	color: #AB4C54;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
    padding: 5px;
    border: 5px;
    margin-top: 25px;
    text-align: center;
}



#services h4, #contact h4  {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 5px;
  border: 5px;
  margin-top: 25px;
  text-align: center;
 
}






/* Footer Styles*/


footer {
  padding: 5px;
  background-color: #222222;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
footer p {
  font-size: 12px;
}

.list-social {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: white;
}

.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  
}

.btn-facebook:hover {
  background-color: #344e86;
}

.btn-instagram {
  color: #ffffff;
  background-color: #cd486b;
}

.btn-instagram:hover {
  background-color: #e95950;
}

/*About Terms and FAQ sections...*/
/*
footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  /*color: rgba(255, 255, 255, 0.3); */
}

